@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    background-color: #F5F5F5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sobre-grupo {
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.sobre-grupo h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre-grupo p {
    font-size: 1.3em;
    line-height: 1;
    margin-bottom: 20px;
    text-align: justify;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

header {
    background-color: rgb(184, 70, 70);
    width: 100%;
    padding: 10px 0;
}

.nome {
    font-size: 40px;
    color: #333;
}

.subnome {
    font-size: 20px;
    color: #777;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 120px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding-bottom: 5px;
}

.menu ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, rgb(248, 78, 106), rgb(215, 144, 156));
    transition: width 0.5s;
    margin-top: 5px;
}

.menu ul li a:hover::after {
    width: 100%;
}

.sociais {
    display: flex;
    align-items: center;
}

.sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, rgb(248, 78, 106), rgb(215, 144, 156));
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.sociais button i {
    font-size: 20px;
    color: white;
}

.center {
    text-align: center;
    padding: 20px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(184, 70, 70);
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

footer a .contact {
    width: 40px;
    height: 40px;
}

footer p {
    margin-top: 5px;
    font-size: 14px;
}

.meninas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(184, 70, 70);
    padding: 20px 0;
    height: 100px;
}

.integrante {
    position: relative;
}

.integrante img {
    width: 100%;
    height: 90px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    margin: 0 10px;
}

.integrante .info {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(126, 32, 32, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.integrante:hover img {
    transform: scale(1.1);
}

.integrante:hover .info {
    opacity: 1;
    visibility: visible;
}
